* {
  font-family: "Oxygen", sans-serif;
}

body {
  background-image: url("https://t3.ftcdn.net/jpg/05/51/11/10/360_F_551111072_i9GuDW6zOHOByY9VLqAsbHhN4H4GDBeM.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

h1 {
  color: #ef8510;
  font-size: 4em;
}

h2 {
  color: #ef8510;
  font-size: 3em;
}

p {
  color: white;
  font-weight: 900;
  font-size: 3em;
  -webkit-text-stroke: 0.5px black;
}

.game-instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke: 0.1px black;
}

ul {
  color: white;
  font-weight: 900;
}

#emoji1 {
  list-style-type: "🐠";
}

#emoji2 {
  list-style-type: "🏴‍☠️";
}

#emoji3 {
  list-style-type: "🦈";
}

#emoji4 {
  list-style-type: "💰";
}

table {
  margin: auto;
  border-width: thick;
  border-color: aquamarine;
}

tr {
  height: 50px;
}

td {
  width: 10%;
}

#turns {
  color: white;
}

#counter {
  color: white;
}

button {
  width: 20%;
  height: 40px;
  padding: 15px 30px;
  margin: 10px;
  display: inline-block;
  color: #000;
  background: aquamarine;
  text-decoration: none;
}

button:hover {
  text-decoration: none;
  color: #000;
}

@-webkit-keyframes wobble-horizontal-on-hover {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes wobble-horizontal-on-hover {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.wobble-horizontal-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-horizontal-on-hover:hover,
.wobble-horizontal-on-hover:focus,
.wobble-horizontal-on-hover:active {
  -webkit-animation-name: wobble-horizontal-on-hover;
  animation-name: wobble-horizontal-on-hover;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
